/* frontend/src/styles.scss */
:root {
  --primary: #f2f3d9;    /* Oatmeal */
  --secondary: #f24c00;  /* Vermelho Alaranjado */
  --accent: #030027;     /* Deep Space */
  --text-main: #030027;
  --bg-main: #f2f3d9;
  --transition: 0.3s ease-in-out;
}

body.dark-mode {
  --primary: #030027;
  --secondary: #f24c00;
  --accent: #f2f3d9;
  --text-main: #f2f3d9;
  --bg-main: #030027;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Inter', sans-serif; /* Sugestão de fonte moderna */
  transition: background-color var(--transition), color var(--transition);
}

.btn-primary {
  background-color: var(--secondary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  &:hover { opacity: 0.9; }
}